--- --- @import "minima";

.photo-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
}

@media (min-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.photo-grid img {
  width: 100%;
  height: auto;
  display: block;
}

[data-carousel] {
  --f-arrow-pos: 10px;
  --f-arrow-width: 38px;
  --f-arrow-height: 38px;
  --f-arrow-svg-width: 16px;
  --f-arrow-svg-height: 16px;
  --f-arrow-svg-stroke-width: 2.5;
  --f-arrow-color: #475569;
  --f-arrow-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0 0 / 30%);
  --f-arrow-border-radius: 50%;
  --f-arrow-bg: #fff;
  --f-arrow-hover-bg: #f9f9f9;
  --f-arrow-active-bg: #f0f0f0;
}

[data-carousel] .f-carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

[data-carousel] .f-carousel__slide img {
  max-width: 100%;
  height: auto;
}