---
---

@import "minima";

.photo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}

.photo-grid a {
  display: block;
}

.photo-grid img {
  width: 100%;
  height: auto;
  display: block;
}