<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<head>
  <script src="https://cdn.jsdelivr.net/npm/mermaid@11.12.2/dist/mermaid.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1.12/dist/fancybox/fancybox.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1.12/dist/carousel/carousel.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1.12/dist/carousel/carousel.lazyload.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1.12/dist/carousel/carousel.arrows.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1.12/dist/carousel/carousel.thumbs.css" />
</head>

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}
  <script>
    var config = {
      startOnLoad: false,
      theme: 'neutral',
      flowchart: {
        useMaxWidth: true,
        htmlLabels: true
      }
    };
    mermaid.initialize(config);
    window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
  </script>

  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1.12/dist/fancybox/fancybox.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1.12/dist/carousel/carousel.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1.12/dist/carousel/carousel.lazyload.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1.12/dist/carousel/carousel.arrows.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1.12/dist/carousel/carousel.thumbs.umd.js"></script>

  <script>
    document.querySelectorAll("[data-carousel]").forEach((container) => {
      Carousel(container, {}, {
        Lazyload,
        Arrows,
        Thumbs,
      }).init();
    });
    Fancybox.bind("[data-fancybox]");
  </script>
</body>

</html>