<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<head>
  <script src="https://cdn.jsdelivr.net/npm/mermaid@11.12.2/dist/mermaid.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photoswipe@5.4.4/dist/photoswipe.min.css">
</head>

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}
  <script>
    var config = {
      startOnLoad: false,
      theme: 'neutral',
      themeVariables: {
        actorLineColor: '#d9e2ec',
        signalColor: '#d9e2ec',
        signalTextColor: '#f2f5f8',
        labelTextColor: '#f2f5f8',
        loopTextColor: '#f2f5f8',
        noteTextColor: '#f2f5f8'
      },
      flowchart: {
        useMaxWidth: true,
        htmlLabels: true
      }
    };
    mermaid.initialize(config);
    window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
  </script>

  <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/photoswipe@5.4.4/dist/umd/photoswipe.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/photoswipe@5.4.4/dist/umd/photoswipe-lightbox.umd.min.js"></script>

  <script>
    document.querySelectorAll("[data-my-swiper]").forEach((container) => {
      var swiper = new Swiper(container, {
        autoHeight: true,
        pagination: {
          el: ".swiper-pagination",
          type: "fraction",
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    });

    document.querySelectorAll('[data-gallery] a').forEach(link => {
      const img = new Image();
      img.onload = () => {
        link.dataset.pswpWidth = img.width;
        link.dataset.pswpHeight = img.height;
      };
      img.src = link.href;
    });
    document.querySelectorAll('[data-gallery]').forEach((galleryEl) => {
      const lightbox = new PhotoSwipeLightbox({
        gallery: galleryEl,
        children: 'a',
        pswpModule: PhotoSwipe
      });

      lightbox.init();
    });
  </script>
</body>

</html>
